$eggshell: #f4f1de;
$pink: #e07a5f;
$warm-grey: #3d405b;
$green: #81b29a;
$green-trans: #81b29a63;
$yellow: #f2cc8f;
$grey: #636896;

@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $eggshell;
  background-color: $warm-grey;
  font-family: "Roboto", sans-serif;
}

.button {
  background-color: $green;
  border: none;
  box-shadow: 1px 1px 3px $green-trans;
  color: $warm-grey;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.button:hover {
  background-color: $yellow;
  color: $warm-grey;
}
