// $primary: pink;
$eggshell: #F4F1DE;
$pink: #E07A5F;
$warm-grey: #3D405B;
$green: #81B29A;
$yellow: #F2CC8F;


@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // width: 100%;
  background-color: $warm-grey;
  color: $eggshell;
  // font-family: 'Hind', sans-serif;
  font-family: 'Roboto', sans-serif;


}